*{
    margin: 0px;
}

button{
    border: 0px;
}

/* Grid */
body{
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: 200px auto;
}

/* Dashboard */
div#sidebar-dashboard{
    background-color: rgb(33, 75, 95);
    display: grid;
    width: 300px;
    height: 849px;
    text-align: center;
}

div#sidebar-dashboard h2{
    color: #fff;
    padding-top: 30px;
}

div#sidebar-dashboard button{
    background-color: inherit;
    color: #fff;
    margin: 2px;
}

/* Header */
div#header{
    width: 1140px;
    height: 200px;
    background-color: rgb(239, 239, 239);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 700px 400px;
    grid-template-rows: 100px 100px;
}

span#search input{
    width: 600px;
    height: 25px;
    border: 0px;
    border-radius: 20px;
    margin-left: 20px;
    background-color: rgba(128, 128, 128, 0.301);
}

span#first-line-right{
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

span#first-line-right img{
    margin: 10px 20px;
}

div#second-line{
    display: flex;
    align-items: center;
    margin: 20px;
}

div#second-line span{
    width: 200px;
}

div#buttons{
    margin-left: auto;
    margin-right: 100px;
}

div#buttons button{
    background-color: rgb(69, 144, 206);
    color: #fff;
    font-weight: 900;
    padding: 10px;
    margin: 2px;
    border-radius: 18px;
}

/* Profile Pic */
img.profile-pic{
    border-radius: 50%;
}

/* Main Content */
div#main-content{
    display: flex;
    width: 1121px;
    padding: 10px;
    background-color: rgb(231,229,228);
    flex-wrap: wrap;
}

div#left-side{
    display: grid;
    grid-template-columns: 350px 300px;
}

h3#project-h3{
    width: 100%;
    margin: 10px 5px;
}

div.project-container{
    width: 300px;
    border: 1px dotted black;
    background-color: #fff;
    border-left: 3px solid orange;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
}

div.project-container p{
    margin: 10px auto;
}

button.github,
button.github img,
button.view,
button.view img{
    margin-top: 20px;
    margin-left: 10px;
    width: 20px;
    background-color: #fff;
}

button.view{
    margin-left: 220px;
}

/* Announcements & Trending*/
div.notification-messages{
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

div.notification-messages h4{
    margin-bottom: 10px;
}

div#right-side{
    width: 400px;
    display: grid;
    margin-left: auto;
}

div#announcements,
div#trending{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}